.button {
	background-color: inherit;
	cursor: pointer;
	background-color: var(--white);
	padding: 8px 16px;
	border-radius: 6px;
	border: 1px solid var(--gray-300);
	font-size: var(--font-16);
	color: var(--gray-900);
	z-index: 999;
}

.primary {
	position: sticky;
	border: none;
	outline: none;
	background-color: var(--purple-600);
	width: 320px;
	height: 56px;
	border-radius: 2px;
	bottom: 24px;
	color: var(--white);
	font-size: var(--font-18);
	font-weight: var(--font-bold);
}

.primary:hover {
	background-color: var(--purple-700);
}

.disabled {
	background-color: var(--gray-300);
	font-weight: var(--font-bold);
	cursor: not-allowed;
}

.disabled:hover {
	background-color: var(--gray-300);
	font-weight: var(--font-bold);
	cursor: not-allowed;
}

.small {
	border: none;
	outline: none;
	background-color: var(--purple-600);
	border-radius: 10px;
	color: var(--white);
	font-size: var(--font-14);
	font-weight: var(--font-bold);
	font-size: 12px;
	padding: 4px 8px;
}

/* Tablet */
@media (min-width: 768px) {
	.primary {
		width: 720px;
		height: 56px;
	}
}

/* Desktop (Large) */
@media (min-width: 1200px) {
	.primary {
		bottom: 40px;
		width: 280px;
	}
}
