.container {
	position: relative;
}

.addButton {
	display: flex;
	justify-content: center;
	align-items: center;
	border: solid 1px var(--gray-300);
	border-radius: 6px;
	padding: 6px 8px;
}

.pickerWrapper {
	position: absolute;
	top: 100%;
	right: -110%;
	z-index: var(--zindex-high);
	margin-top: 15px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.buttonText {
	display: none;
}

@media (min-width: 768px) {
	.pickerWrapper {
		right: 0;
	}

	.buttonText {
		display: inline;
	}
}
