.card {
	width: 208px;
	height: 232px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 16px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		var(--card-background-image);
	background-color: var(--card-background-color);
	display: flex;
	justify-content: flex-start;
	padding: 30px 24px;
}

.card.beige {
	background-image: url('../../assets/images/beige.svg');
	background-size: auto;
	background-position: right bottom;
}

.card.blue {
	background-image: url('../../assets/images/blue.svg');
	background-size: auto;
	background-position: right bottom;
}

.card.green {
	background-image: url('../../assets/images/green.svg');
	background-size: auto;
	background-position: right bottom;
}

.card.purple {
	background-image: url('../../assets/images/purple.svg');
	background-size: auto;
	background-position: right bottom;
}

.cardText {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.name {
	font-size: var(--font-18);
	font-weight: var(--font-bold);
	color: var(--gray-700);
}

.nameWhite {
	font-size: var(--font-18);
	font-weight: var(--font-bold);
	color: var(--white);
}
.countText {
	font-size: var(--font-14);
	font-weight: var(--font-regular);
	color: var(--gray-700);
}

.countTextWhite {
	font-size: var(--font-14);
	font-weight: var(--font-regular);
	color: var(--white);
}

.count {
	font-weight: var(--font-bold);
}

.badge {
	width: 160px;
	display: flex;
	justify-content: flex-start;
	align-self: center;
	gap: 4px;
	margin-top: 33px;
	padding-top: 16px;
	border-top: 1px solid rgba(24, 24, 24, 0.12);
}

/* Tablet */
@media (min-width: 768px) {
	.card {
		width: 275px;
		height: 260px;
	}
	.name {
		font-size: var(--font-24);
	}
	.nameWhite {
		font-size: var(--font-24);
	}
	.countText {
		font-size: var(--font-16);
	}
	.countTextWhite {
		font-size: var(--font-16);
	}
	.badge {
		width: 210px;
		margin-top: 48px;
	}
}

/* Desktop (Large) */
@media (min-width: 1200px) {
	.card {
		width: 275px;
		height: 260px;
	}
}
