.carouselWrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 70px;
}

.list {
	display: flex;
	gap: 12px;
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-x: auto;
	padding: 0 20px;
}

.list::-webkit-scrollbar {
	display: none;
}

.navButton {
	flex-shrink: 0;
	margin: 0 10px;
	background-color: rgba(255, 255, 255, 0.9);
	border: 1px solid var(--gray-300);
	border-radius: 50%;
	width: 40px;
	height: 40px;
	position: absolute;
	display: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	z-index: 10;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
}
.prevButton {
	left: -10px;
}
.nextButton {
	right: -10px;
}

.navButton:hover {
	background-color: var(--white);
}

.navButton svg {
	font-size: 15px;
	color: var(--gray-600);
}
/* Tablet */
@media (min-width: 768px) {
	.list {
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		scroll-snap-type: x mandatory;
		padding: 0 24px;
	}

	.list > a {
		scroll-snap-align: end;
		flex-shrink: 0;
	}
	.list > a:last-child {
		margin-right: 0;
	}

	.navButton {
		display: none;
	}
}

/* Desktop (Large) */
@media (min-width: 1200px) {
	.carouselWrapper {
		padding: 0;
	}

	.list {
		max-width: 1160px;
		gap: 20px;
		padding: 0;
		overflow-x: hidden;
	}

	.list > a {
		flex-shrink: initial;
	}

	.navButton {
		display: flex;
	}
}
