.container {
	width: 360px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

/* Tablet */
@media (min-width: 768px) {
	.container {
		width: 768px;
	}
}

/* Desktop (Large) */
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
