* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%; /* 16px 일시 1.6rem으로 작성하면 되게끔 설정*/
}

@font-face {
	font-family: 'Noto Sans';
	src: url('../assets/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '나눔손글씨 손편지체';
	src: url('../assets/fonts/NanumBrush.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: '나눔명조';
	src: url('../assets/fonts/NanumMyeongjo.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard';
	src: url('../assets/fonts/Pretendard-Regular.woff') format('truetype');
	font-weight: normal;
	font-style: normal;
}

.ql-container .ql-editor.fontPretendard {
	font-family: 'Pretendard', sans-serif !important;
}
.ql-container .ql-editor.fontNotoSans {
	font-family: 'Noto Sans', sans-serif !important;
}
.ql-container .ql-editor.fontNanumHandwriting {
	font-family: '나눔손글씨 손편지체', sans-serif !important;
}
.ql-container .ql-editor.fontNanumMyeongjo {
	font-family: '나눔명조', serif !important;
}
