.img {
	top: 230px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/* Tablet */
@media (min-width: 768px) {
	.img {
		top: 250px;
	}
}

/* Desktop (Large) */
@media (min-width: 1200px) {
	.img {
		top: 350px;
	}
}
