.container {
	position: relative;
}

.activeTab {
	width: 11.8rem;
	height: 4rem;
	border: 0.2rem solid var(--purple-600);
	border-radius: 0.6rem;
	padding: 0.7rem 1.4rem;
	background-color: var(--white);
	color: var(--purple-700);
	font-size: var(--font-16);
	line-height: 2.6rem;
	font-weight: var(--font-bold);
}

.inactiveTab {
	width: 11.8rem;
	height: 4rem;
	border: 0.2rem none;
	border-radius: 0.6rem;
	padding: 0.7rem 1.4rem;
	background-color: var(--gray-100);
	color: var(--purple-900);
	font-size: var(--font-16);
	line-height: 2.6rem;
	font-weight: var(--font-regular);
}

.colorpalette {
	width: 32rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1.2rem;
	margin-top: 2rem;
}

.square {
	width: 15.4rem;
	height: 15.4rem;
	border: 0.1rem solid var(--gray-100);
	border-radius: 1.6rem;
	cursor: pointer;
	position: relative;
}

.imageWrapper {
	position: relative;
}

.checkIcon {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 4.4rem;
	height: 4.4rem;
}

.beige {
	background-color: var(--beige-200);
}

.blue {
	background-color: var(--blue-200);
}

.green {
	background-color: var(--green-200);
}

.purple {
	background-color: var(--purple-200);
}

.imagePalette {
	width: 32rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0.1rem;
	margin-top: 2rem;
}

.image {
	width: 15.4rem;
	height: 15.4rem;
	border-radius: 1.6rem;
}

.selected {
	border: 0.4rem solid var(--purple-500);
	border-radius: 1.6rem;
}

.notselected {
	border: 0.4rem solid transparent;
	border-radius: 1.6rem;
}
