.header {
	border-bottom: 0.1rem solid var(--gray-200);
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 2rem;
	height: 6.4rem;
}

/* Tablet */
@media (min-width: 768px) {
	.content {
		margin: 0 2.4rem;
	}
}

/* Desktop (Large) */
@media (min-width: 1200px) {
	.content {
		gap: 94.4rem;
		justify-content: space-evenly;
	}
}
