.header {
	border-bottom: 1px solid var(--gray-200);
}

.img {
	width: 106px;
	height: 30px;
}
.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 2px;
	height: 64px;
}
