.buttonItems {
	width: 100%;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}

.deleteButton {
	position: fixed;
	bottom: 16px;
	left: 20px;
	right: 20px;
	padding: 14px 24px;
	z-index: 10;
}

.main {
	background-size: cover;
	background-position: center;
	min-height: 100vh;
	overflow: auto;
	position: relative;
}

.wrapper {
	padding: 0 24px;
	margin-bottom: 40px;
}

.header {
	width: 1200px;
	margin: 0 auto;
	padding: 0 24px;
	width: 100%;
}

.beige {
	background-color: var(--beige-700);
}

.blue {
	background-color: var(--blue-300);
}

.green {
	background-color: var(--green-300);
}

.purple {
	background-color: var(--purple-300);
}

@media (min-width: 768px) and (max-width: 1023px) {
	.main {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

@media (min-width: 1024px) {
	.main {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
