.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	text-align: left;
	margin-top: 3rem;
	margin-bottom: 3rem;
}
.text {
	font-size: var(--font-20);
	font-weight: 600;
	line-height: 3rem;
	margin: 1.2rem 0;
	padding-left: 2rem;
	width: 100%;
}

/* Desktop (Large) */
@media (min-width: 1200px) {
	.container {
		width: 120rem;
	}
}
