.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
	text-align: left;
	margin-top: 30px;
	margin-bottom: 30px;
}
.text {
	font-size: var(--font-20);
	font-weight: 600;
	line-height: 30px;
	margin: 12px 0;
	padding-left: 20px;
	width: 100%;
}

/* Desktop (Large) */
@media (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}
