.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin: 0 auto;
}

.h2 {
	font-size: var(--font-24);
	font-weight: var(--font-bold);
	margin-bottom: 1rem;
}

.p {
	font-size: var(--font-16);
	font-weight: var(--font-regular);
	color: var(--gray-500);
	line-height: 2.6rem;
	letter-spacing: -1%;
}

.inputarea {
	margin-top: 3rem;
}

.input {
	margin: 3rem;
}

.backgroundselectortext {
	margin-top: 3rem;
}

.backgroundselector {
	margin-top: 2rem;
}

/*마진 제대로 안들어감. 다시 할 것.*/
.button {
	margin-top: 18rem;
}
