.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;
	margin: 0 auto;
}

.h2 {
	font-size: var(--font-24);
	font-weight: var(--font-bold);
	margin-top: 20px;
	margin-bottom: 8px;
}

.p {
	font-size: var(--font-16);
	font-weight: var(--font-regular);
	color: var(--gray-500);
	line-height: 26px;
	letter-spacing: -1%;
}

.inputContainer {
	position: relative;
	width: fit-content;
}

.charCount {
	position: absolute;
	top: 70%;
	transform: translateY(-50%);
	right: 10px;
	font-size: 12px;
	color: var(--gray-400);
	pointer-events: none;
}

.inputarea {
	margin-top: 35px;
}

.input {
	margin: 20px;
}

.backgroundselectortext {
	margin-top: 20px;
}

.backgroundselector {
	margin-top: 20px;
}

.button {
	margin-top: 105px;
}
